<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Fonlow.SyncML.Windows.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="Fonlow.SyncML.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Fonlow.SyncML.Windows.Properties.Settings>
            <setting name="BasicURI" serializeAs="String">
                <value>http://localhost:8080/funambol/ds</value>
            </setting>
            <setting name="User" serializeAs="String">
                <value>test</value>
            </setting>
            <setting name="Password" serializeAs="String">
                <value>tttttttt</value>
            </setting>
            <setting name="UseProxy" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Proxy" serializeAs="String">
                <value />
            </setting>
            <setting name="LogWinPosition" serializeAs="String">
                <value>200, 100</value>
            </setting>
            <setting name="LogWinSize" serializeAs="String">
                <value>700, 600</value>
            </setting>
            <setting name="RememberPassword" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DeviceAddress" serializeAs="String">
                <value>FonlowSyncMLClientGuid</value>
            </setting>
            <setting name="LastAnchorTime" serializeAs="String">
                <value>1899-11-24</value>
            </setting>
            <setting name="LastAnchor" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="VendorName" serializeAs="String">
                <value>Fonlow IT</value>
            </setting>
            <setting name="ModelName" serializeAs="String">
                <value>Fonlow SyncML Client</value>
            </setting>
            <setting name="ModelVersion" serializeAs="String">
                <value>999</value>
            </setting>
            <setting name="ServerContactSource" serializeAs="String">
                <value>scard</value>
            </setting>
            <setting name="ServerContactTypeVer" serializeAs="String">
                <value>2.1</value>
            </setting>
            <setting name="ContactExchangeType" serializeAs="String">
                <value>SifC</value>
            </setting>
        </Fonlow.SyncML.Windows.Properties.Settings>
    </userSettings>
</configuration>