<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Fonlow.SyncML.Common.ProgramSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Fonlow.SyncML.Common.ProgramSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
      <section name="Fonlow.SyncML.OpenContacts.App.OcSyncSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <applicationSettings>
    <Fonlow.SyncML.Common.ProgramSettings>
    </Fonlow.SyncML.Common.ProgramSettings>
  </applicationSettings>
  <userSettings>
    <Fonlow.SyncML.Common.ProgramSettings>
      <setting name="ProductName" serializeAs="String">
        <value>SyncML Client for Open Contacts</value>
      </setting>
      <setting name="WebSite" serializeAs="String">
        <value>http://www.fonlow.com/opencontacts</value>
      </setting>
      <setting name="Copyright" serializeAs="String">
        <value>Copyright ©  2008-2013  Fonlow IT</value>
      </setting>
      <setting name="HelpUrl" serializeAs="String">
        <value>http://www.fonlow.com/opencontacts/SyncMLClient</value>
      </setting>
      <setting name="LogWinLocation" serializeAs="String">
        <value>10, 10</value>
      </setting>
      <setting name="LogWinSize" serializeAs="String">
        <value>30, 30</value>
      </setting>
    </Fonlow.SyncML.Common.ProgramSettings>
    <Fonlow.SyncML.OpenContacts.App.OcSyncSettings>
      <setting name="ContactsSyncItem" serializeAs="Xml">
        <value>
          <ContactsSyncItem>
            <DisplayName>Contacts</DisplayName>
            <ItemType>Contacts</ItemType>
            <LocalDataSourceAssembly>Fonlow.SyncML.OpenContactsDataSource</LocalDataSourceAssembly>
            <RemoteName>scard</RemoteName>
            <DataFormat>SIF</DataFormat>
            <SyncDirection>TwoWay</SyncDirection>
            <LastAnchor>0</LastAnchor>
            <Enabled>true</Enabled>
            <LastAnchorTime>1900-03-16T07:43:51.353+10:00</LastAnchorTime>
          </ContactsSyncItem>
        </value>
      </setting>
      <setting name="DeviceAddress" serializeAs="String">
        <value>FonlowSyncMLClientGuid</value>
      </setting>
      <setting name="BasicUri" serializeAs="String">
        <value>http://localhost:8080/funambol/ds</value>
      </setting>
      <setting name="User" serializeAs="String">
        <value>test</value>
      </setting>
      <setting name="Password" serializeAs="String">
        <value></value>
      </setting>
    </Fonlow.SyncML.OpenContacts.App.OcSyncSettings>
  </userSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
  </startup>
</configuration>
