<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Fonlow.SyncML.Common.ProgramSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
      <section name="Fonlow.SyncML.OutlookSync.OutlookSyncSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Fonlow.SyncML.Common.ProgramSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
      <section name="Fonlow.SyncML.OutlookSync.OutlookSyncSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
  </configSections>

  <applicationSettings>
    <Fonlow.SyncML.OutlookSync.OutlookSyncSettings>
      <setting name="ModelVersion" serializeAs="String">
        <value>2</value>
      </setting>
      <setting name="ModelName" serializeAs="String">
        <value>Fonlow SyncML Client for MS Outlook</value>
      </setting>
    </Fonlow.SyncML.OutlookSync.OutlookSyncSettings>
    
    <Fonlow.SyncML.Common.ProgramSettings>
      <setting name="ProductName" serializeAs="String">
        <value>SyncML Client for MS Outlook</value>
      </setting>
      <setting name="WebSite" serializeAs="String">
        <value>http://syncmldotnet.sourceforge.net</value>
      </setting>
      <setting name="Copyright" serializeAs="String">
        <value>Copyright ©  2008-2013  Fonlow IT</value>
      </setting>
      <setting name="HelpUrl" serializeAs="String">
        <value>http://sourceforge.net/apps/mediawiki/syncmldotnet/index.php?title=SyncML_Client_for_MS_Outlook</value>
      </setting>
    </Fonlow.SyncML.Common.ProgramSettings>
  </applicationSettings>
  <userSettings>
    <Fonlow.SyncML.Common.ProgramSettings>
      <setting name="ScreenDeviceName" serializeAs="String">
        <value>\\.\DISPLAY1</value>
      </setting>
      <setting name="Location" serializeAs="String">
        <value>10, 10</value>
      </setting>
    </Fonlow.SyncML.Common.ProgramSettings>
    <Fonlow.SyncML.OutlookSync.OutlookSyncSettings>
      <setting name="CalendarSyncItem" serializeAs="Xml">
        <value>
          <CalendarSyncItem xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <DisplayName>Calendar</DisplayName>
            <ItemType>Calendar</ItemType>
            <LocalDataSourceAssembly>Fonlow.SyncML.OutlookCalendar, Version=1.1.0.0, Culture=neutral, PublicKeyToken=AEAA906B09CD6374</LocalDataSourceAssembly>
            <RemoteName>scal</RemoteName>
            <DataFormat>SIF</DataFormat>
            <SyncDirection>TwoWay</SyncDirection>
            <LastAnchor>0</LastAnchor>
            <Enabled>true</Enabled>
            <LastAnchorTime>0001-01-01T00:00:00</LastAnchorTime>
            <OrderNo>1</OrderNo>
            <Filter>All</Filter>
          </CalendarSyncItem>
        </value>
      </setting>
      <setting name="DeviceAddress" serializeAs="String">
        <value>FonlowSyncMLClient73c5a17f1cd94065a5da30606672eff1</value>
      </setting>
      <setting name="TasksSyncItem" serializeAs="Xml">
        <value>
          <TasksSyncItem xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <DisplayName>Tasks</DisplayName>
            <ItemType>Tasks</ItemType>
            <LocalDataSourceAssembly>Fonlow.SyncML.OutlookTasks, Version=1.1.0.0, Culture=neutral, PublicKeyToken=AEAA906B09CD6374</LocalDataSourceAssembly>
            <RemoteName>task</RemoteName>
            <DataFormat>vCalendar</DataFormat>
            <SyncDirection>TwoWay</SyncDirection>
            <LastAnchor>0</LastAnchor>
            <Enabled>true</Enabled>
            <LastAnchorTime>0001-01-01T00:00:00</LastAnchorTime>
            <OrderNo>2</OrderNo>
          </TasksSyncItem>
        </value>
      </setting>
      <setting name="ContactsSyncItem" serializeAs="Xml">
        <value>
          <ContactsSyncItem xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <DisplayName>Contacts</DisplayName>
            <ItemType>Contacts</ItemType>
            <LocalDataSourceAssembly>Fonlow.SyncML.OutlookContacts, Version=1.1.0.0, Culture=neutral, PublicKeyToken=AEAA906B09CD6374</LocalDataSourceAssembly>
            <RemoteName>scard</RemoteName>
            <DataFormat>SIF</DataFormat>
            <SyncDirection>TwoWay</SyncDirection>
            <LastAnchor>0</LastAnchor>
            <Enabled>true</Enabled>
            <LastAnchorTime>0001-01-01T00:00:00</LastAnchorTime>
            <OrderNo>0</OrderNo>
          </ContactsSyncItem>
        </value>
      </setting>
      <setting name="NotesSyncItem" serializeAs="Xml">
        <value>
          <NotesSyncItem xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <DisplayName>Notes</DisplayName>
            <ItemType>Notes</ItemType>
            <LocalDataSourceAssembly>Fonlow.SyncML.OutlookNotes, Version=1.1.0.0, Culture=neutral, PublicKeyToken=AEAA906B09CD6374</LocalDataSourceAssembly>
            <RemoteName>snote</RemoteName>
            <DataFormat>SIF</DataFormat>
            <SyncDirection>TwoWay</SyncDirection>
            <LastAnchor>0</LastAnchor>
            <Enabled>true</Enabled>
            <LastAnchorTime>0001-01-01T00:00:00</LastAnchorTime>
            <OrderNo>3</OrderNo>
          </NotesSyncItem>
        </value>
      </setting>
    </Fonlow.SyncML.OutlookSync.OutlookSyncSettings>
  </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup></configuration>
